name: smart_news
description: A Flutter application for reading RSS feeds.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.9.0
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.0
  xml: ^6.3.0
  webfeed_plus: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
